<section class="contacts" id="contacts">
    <div class="container">

        <div class="contacts-content">

            <div class="contacts-left">

                <h3 class="contacts-label">Contacts</h3>

                <h2 class="contacts-title">Get in Touch</h2>

                <p class="contacts-text">
                    We'd love to hear from you anytime!
                </p>

                <ul class="contacts-list">

                    <li class="contacts-item">
                        <svg width="24" height="24" viewBox="0 0 24 24">
                            <use href="./images/icon.svg#icon-mail"></use>
                        </svg>

                        <a href="mailto:hello@organicstore.com" id="mail-text">
                            hello@organicstore.com
                        </a>
                    </li>

                    <li class="contacts-item">
                        <svg width="24" height="24" viewBox="0 0 24 24">
                            <use href="./images/icon.svg#icon-phone"></use>
                        </svg>

                        <a href="tel:+15553291024" id="tel-text">
                            +1 (555) 329-1024
                        </a>
                    </li>

                </ul>

                <form class="contact-form">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" placeholder="Sarah">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="hello@organic.com">
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" placeholder="Type your message..."></textarea>
                    </div>

                    <button type="submit" class="btn-primary">
                        Submit
                    </button>

                </form>

            </div>

            <div class="contacts-right">
                <img src="./images/contactimg.png" srcset="./images/contactimg@2x.png 2x" alt="Team"
                    class="contacts-img">
            </div>

        </div>

    </div>
</section>