<section class="contacts section" id="contacts">
  <div class="container">
    <div class="contacts-content">
      <div class="contacts-left">
        <h3 class="contacts-label">Contacts</h3>

        <h2 class="contacts-title">Get in Touch</h2>

        <p class="contacts-text">We'd love to hear from you anytime!</p>

        <ul class="contacts-list">
          <li class="contacts-item">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <use href="../img/sprite.svg#icon-mail"></use>
            </svg>

            <a href="mailto:hello@organicstore.com" id="mail-text">
              hello@organicstore.com
            </a>
          </li>

          <li class="contacts-item">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <use href="../img/sprite.svg#icon-phone"></use>
            </svg>

            <a href="tel:+15553291024" id="tel-text"> +1 (555) 329-1024 </a>
          </li>
        </ul>

        <form class="contact-form">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="inp" type="text" id="name" placeholder="Sarah" />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              class="inp"
              type="email"
              id="email"
              placeholder="hello@organic.com"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </div>

          <div class="form-group">
            <label for="message">Message</label>
            <textarea
              maxlength="500"
              id="message"
              placeholder="Type your message..."
            ></textarea>
          </div>

          <button type="submit" class="btn-primary">Submit</button>
        </form>
      </div>

      <div class="contacts-right">
        <img
          src="../img/ishykid-contacts/contactimg.jpg"
          srcset="../img/ishykid-contacts/contactimg@2x.jpg 2x"
          alt="Team"
          class="contacts-img"
        />
      </div>
    </div>
  </div>
</section>
