<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <a href="/">
          <svg width="84" height="36">
            <use href="/img/sprite.svg#icon-AlternateTrue"></use>
          </svg>
        </a>
      </div>

      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#hero" class="footer-nav-link">Home</a>
          </li>
          <li class="footer-nav-item">
            <a href="#mission" class="footer-nav-link">Mission</a>
          </li>
          <li class="footer-nav-item">
            <a href="#benefits" class="footer-nav-link">Benefits</a>
          </li>
          <li class="footer-nav-item">
            <a href="#assortment" class="footer-nav-link">Assortment</a>
          </li>
          <li class="footer-nav-item">
            <a href="#feedbacks" class="footer-nav-link">Feedbacks</a>
          </li>
          <li class="footer-nav-item">
            <a href="#faq" class="footer-nav-link">FAQ</a>
          </li>
          <li class="footer-nav-item">
            <a href="#contacts" class="footer-nav-link">Contacts</a>
          </li>
        </ul>
      </nav>

      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            href="https://www.facebook.com"
            class="footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="svg-footer" width="24" height="24">
              <use href="/img/sprite.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com"
            class="footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.x.com"
            class="footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-X"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.linkedin.com"
            class="footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-LinkedIn"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.youtube.com"
            class="footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-Youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-credits">
      <p class="footer-copy">© 2025 Organic Shop. All rights reserved.</p>
    </div>
  </div>
</footer>
