<header class="header" id="header">
  <div class="header-container container">
    <a class="header-logo-link" href="/">
      <svg class="header-logo-icon" width="142" height="60">
        <use href="/img/sprite.svg#icon-Company-Logo"></use>
      </svg>
    </a>
    <div class="header-navigation-and-btn-wrapper">
      <nav class="header-navigation-place">
        <ul class="header-navigation-list">
          <li class="header-navigation-list-item">
            <a class="header-navigation-link" href="#hero">Home</a>
          </li>
          <li class="header-navigation-list-item">
            <a class="header-navigation-link" href="#mission">Mission</a>
          </li>
          <li class="header-navigation-list-item">
            <a class="header-navigation-link" href="#benefits">Benefits</a>
          </li>
          <li class="header-navigation-list-item">
            <a class="header-navigation-link" href="#assorts">Assortment</a>
          </li>
          <li class="header-navigation-list-item">
            <a class="header-navigation-link" href="#feedbacks">Feedbacks</a>
          </li>
          <li class="header-navigation-list-item">
            <a class="header-navigation-link" href="#faq">FAQ</a>
          </li>
          <li class="header-navigation-list-item">
            <a class="header-navigation-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="header-btn-wrapper">
        <ul class="header-btn-list">
          <li class="header-btn-list-item">
            <a href="#assorts" class="header-navigation-btn-order-link">
              Order
            </a>
          </li>
          <li class="header-btn-list-item">
            <button
              class="navbar-btn header-navigation-btn-burger is-open"
              data-menu-open
              type="button"
            >
              <svg class="header-burger-icon" width="32" height="32">
                <use href="/img/sprite.svg#icon-menu"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
