<section id="mission" class="section mission-section">
  <div class="container">
    <div class="mission-text-wrapper">
      <h2 class="mission-title">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>
      <p class="mission-text">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with fresh, locally sourced organic products that nourish
        both body and soul. We partner with ethical farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>
    <img
      class="mission-image"
      src="/img/anastasia-mission/mission.jpg"
      srcset="
        /img/anastasia-mission/mission.jpg    1x,
        /img/anastasia-mission/mission@2x.jpg 2x
      "
      alt="A small, diverse team of friendly people gathered around a wooden table, smiling and working together — packing organic vegetables into eco-friendly cotton bags, arranging fresh produce like carrots, apples."
      width="1312"
    />
  </div>
</section>
