<div class="backdrop" id="backdrop">
  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-top">
      <div class="logo-navbar">
        <a href="#hero" class="js-close-menu">
          <svg class="logo-navbar-icon" width="142" height="60">
            <use href="./img/sprite.svg#icon-logo-organick"></use>
          </svg>
        </a>
      </div>
      <button type="button" class="close-navbar" data-menu-close>
        <svg class="icon-close-navbar" width="32" height="32">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="navbar">
      <ul class="navbar-list">
        <li><a href="#hero" class="js-close-menu">Home</a></li>
        <li><a href="#mission" class="js-close-menu">Mission</a></li>
        <li><a href="#benefits" class="js-close-menu">Benefits</a></li>
        <li><a href="#assorts" class="js-close-menu">Assortment</a></li>
        <li><a href="#feedbacks" class="js-close-menu">Feedbacks</a></li>
        <li><a href="#faq" class="js-close-menu">FAQ</a></li>
        <li><a href="#contacts" class="js-close-menu">Contacts</a></li>
      </ul>
    </nav>

    <div class="order-btn-navbar">
      <a href="#assorts" class="order-navbar js-close-menu">Order</a>
    </div>
  </div>
</div>
