.assortment-section {
    background-color: #d1ddcc;
    color: #010400;
}

.assortment-subtitle {
    font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;
}

.assortment-title {
    width: 344px;
    font-weight: 400;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        margin-bottom: 24px;
}

.assortment-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.assortment-list-item {
    display: flex;
        flex-direction: column;
        gap: 16px;
        width: 344px;
        flex-shrink: 0;
        flex-grow: 1;
}

.assortment-card-title {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
}

.assortment-card-content {
    display: flex;
    align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
}

.assortment-card-text {
    display: flex;
    flex-direction: column;
}

.assortment-description {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
}

.assortment-price {
    display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-shrink: 0;
}

.assortment-price-value {
    font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
}

.assortment-price-unit {
    font-weight: 400;
        font-size: 10px;
        line-height: 1.3;
        text-align: right;
}

.assortment-button {
    border: 1px solid rgba(1, 4, 0, 0.15);
    background-color: transparent;
    border-radius: 6px;
    padding: 4px 10px;
    width: 100%;
    height: 40px;
    margin-top: auto;
    transition: background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.assortment-button-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
}

.assortment-button:hover,
.assortment-button:focus {
    background-color: #1a5901;
    color: #fff;
}

.assortment-button:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {

    .assortment-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    .assortment-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1440px) {

    .assortment-title {
        width: 768px;
        font-size: 48px;
        margin-bottom: 32px;
    }

    .assortment-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .assortment-list-item {
        width: calc((100% - 72px) / 4);
    }
}