
.contacts {
    background: #E8EEE5;
}

.contacts-content {
    display: flex;
    flex-direction: column;
}

.contacts-label {
    margin-bottom: 16px;
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0%;
    font-weight: 600;
    line-height: 1.5;
    color: #141414;
}

.contacts-title {
    margin-bottom: 24px;
    font-family: "Chivo", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    color: #010400;
}

.contacts-text {
    font-family: "Public Sans", sans-serif;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #010400;
}

#mail-text,
#tel-text {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #010400;
}

.contacts-list {
    list-style: none;
    padding: 0;
    margin: 0 0 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts-item {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.contacts-item a {
    font-size: 20px;
    color: #010400;
    text-decoration: underline;
}

.contact-form {
    width: 100%;
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 24px;
}

.form-group label {
    font-family: "Public Sans", sans-serif;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
}

.form-group input {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    background: transparent;
    font-size: 16px;
    color: #010400;
    outline: none;
}

.form-group textarea {
    width: 100%;
    min-height: 166.24px;
    padding: 12px;
    border: 1px solid #C8C8C8;
    background: transparent;
    resize: none;
    outline: none;
    font-size: 16px;
    color: #010400;
}

.btn-primary {
    font-family: "Public Sans", sans-serif;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background: #1A5901;
    color: #fff;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #010400;
    background: #fff;
}

.btn-primary:active {
    box-shadow: inset 2px 7px 27px -4px rgba(0, 0, 0, 0.15);
}


.contacts-img {
    width: 100%;
    display: block;
}

input:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
}

input::placeholder,
textarea::placeholder {
    transition: opacity .2s ease;
}

.inp:not(:placeholder-shown):invalid {
    border-color: red;
}

.inp:not(:placeholder-shown):valid {
    border-color: green;
}


/* =========================
   TABLET 768px - 1439px
========================= */

@media screen and (min-width: 768px) {

    .contacts-title {
        font-size: 36px;
    }

    .btn-primary {
        width: 343px;
        height: 36px;
    }

    .contacts-left {
        margin-bottom: 24px;
    }

    .contacts-img {
        width: 100%;
        display: block;
    }
}


/* =========================
   DESKTOP 1440px+
========================= */

@media screen and (min-width: 1440px) {

    .contacts-content {
        display: flex !important;
        flex-direction: row !important;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;
    }

    .contacts-left {
        width: 644px;
        flex-shrink: 0;
    }

    .contacts-right {
        width: 644px;
    }

    .contacts-img {
        width: 644px;
        height: 756px;
        object-fit: cover;
    }

    .btn-primary {
        width: 198px;
        height: 36px;
    }
}