.header{
     background-color:#5E8A4D ;
}

.navbar-btn {
     display: flex;
     align-items: center;
     justify-content: center;

     padding: 0;
     border: none;
     background-color: transparent;
     cursor: pointer;
}

@media (min-width: 1440px) {
     .navbar-btn {
          display: none;
     }
}