.hero-section {
    padding: 183px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/parhomchuk-hero/hero-mobile.jpg);
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-family: "Chivo", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 8px;
}

.hero-text {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 16px;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #010400;
    cursor: pointer;
    border-radius: 6px;
    padding: 6px 32px;
    background-color: #fff;
    transition: background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #5e8a4d;
    color: #010400;
}

.hero-button:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/parhomchuk-hero/hero-mobile2x.jpg);
    }
}

@media screen and (min-width: 768px) {

    .hero-container {
        justify-content: center;
        align-items: flex-start;
     }

    .hero-section {
        padding: 234px 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/parhomchuk-hero/hero-tablet.jpg);
    }

    .hero-button {
        min-width: 254px;
        height: 36px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/parhomchuk-hero/hero-tablet2x.jpg);
    }
}

@media screen and (min-width: 1440px) {
    
    .hero-title {
        max-width: 435px;
        font-size: 56px;
    }

    .hero-button {
        min-width: 199px;
        height: 36px;
    }

    .hero-section {
        padding: 326px 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/parhomchuk-hero/hero-desktop.jpg);
    }

    .hero-text {
        max-width: 646px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px) {
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/parhomchuk-hero/hero-desktop2x.jpg);
    }
}